 name: CI
 on: [push]
 jobs:
     build:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
        - name: Run Dependency Script
          run: bash dep.sh  
        - name: Upload JAR artifact
          uses: actions/upload-artifact@v4
          with:
             name: github-actions-artifact
             path: /home/runner/.m2/repository/com/work/thymeleaf/work/0.0.1-SNAPSHOT/work-0.0.1-SNAPSHOT.jar