 name: CI
 on: [push]
 jobs:
     build:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
        - name: Run Dependency Script
          run: bash dep.sh  
        - name: Upload JAR artifact
          uses: actions/upload-artifact@v4
          with:
             name: thymeleaf-jar
             path: GitHub Actions/thymeleafExample-0.0.1-SNAPSHOT.jar-${DATE}.json
             if-no-files-found: warn
             compression-level: 6
             overwrite: false
             include-hidden-files: false    